* {
    margin: 0;
    padding: 0;
}

body {
    background: conic-gradient(rgba(185,75,255, 0.3), rgba(80, 60, 240, 0.3), rgba(0,45,205, 0.4));
    background-color: black;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 0 100%;
    }
    100% {
        background-position: 100% 0;
    }
}